<div class="" >
    <div class="panel-heading" style="    margin: 0 -15px;">

        <!--<a href="#" class="save-button"><img src="assets/img/save-icon.png" alt="Save" width="20" height="20">-->
        <div class="row">

            <div class="col-md-8">
                <h3 class="m-t-6" data-i18n="" class="panel-title">İmtahan </h3>
            </div>
            <div class="col-md-2">
                <button id="exam_add" data-i18n="save" type="submit" class="btn btn-primary btn-block pincode-button-next">Yadda saxla</button>
            </div>
            <div class="col-md-2">
                <button id="back" data-i18n="back" type="submit" class="btn btn-primary btn-block pincode-button-back">Geri</button>
            </div>

        </div>

    </div>
    <div class="panel-body " style="    margin: 0 -15px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label data-i18n="" >İmtahanin kodu</label>
                    <input type="text" class="form-control" id="exam_code">
                </div>
                <div class="form-group">
                    <label  >İmtahanin növü</label>
                     <select  class="form-control" id="exam_type" >
                         <option value="">Kollokvium</option>
                         <option value="">Semestr imtahanı</option>
                     </select>

                </div>

                <div class="form-group">
                    <label data-i18n="" >İmtahanin adı</label>
                    <input type="text" class="form-control" id="exam_name">
                </div>





            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label data-i18n="subject">Fənn</label>
                    <select class="form-control" id="exam_subject" >
                    </select>
                 
                
                </div>
                <div class="form-group">
                    <label data-i18n="" >Sual sayı</label>
                    <input type="text" class="form-control" id="question_count">
                </div>

                <div class="form-group">
                    <label data-i18n="" >Müddəti</label>
                    <input type="text" class="form-control" id="question_duration">
                </div>


            </div>
        </div>

    </div>
</div>



<script type="text/javascript">
    $(function () {
        Exam.i18n(Exam.lang);
        $('.search-scroll').slimScroll();

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LEVEL, function (eduLevels) {
            if (eduLevels) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduLevels, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_edu_level').html(html);

            }
        });
        
        Exam.Proxy.loadSubjects(function (subjects) {
            if (subjects) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(subjects, function (i, v) {
                    html += '<option value= "' + v.id + '">' + v.subject.value[Exam.lang] + '</option>'
                });
                $('#exam_subject').html(html);
            }

        });
        
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_LEVEL, function (questionLevel) {
            if (questionLevel) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionLevel, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_level').html(html);

            }
        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TYPE, function (questionType) {
            if (questionType) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionType, function (i, v) {
                    html += '<option code="' + v.code + '" value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_type').html(html);

            }
        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LANG, function (eduLang) {
            if (eduLang) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduLang, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_lang').html(html);

            }
        });

        Exam.Proxy.loadSubjects(function (subjects) {
            if (subjects) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(subjects, function (i, v) {
                    html += '<option value= "' + v.id + '">' + v.subject.value[Exam.lang] + '</option>'
                });
                $('#quest_subject').html(html);
            }

        });

        $('#main-div').on('change', '#quest_subject', function (e) {
            try {
                var subjectId = $(this).val();
                Exam.Proxy.getTopics(subjectId, function (topics) {
                    if (topics) {
                        var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                        $.each(topics, function (i, v) {
                            html += '<option value="' + v.id + '">' + v.value['az'] + '</option>';
                        });
                        $('#quest_topic').html(html);
                    }

                });

            }
            catch (err) {
                console.error(err);
            }
        });

        $('#main-div').on('change', '#quest_file, .variant_file', function (e) {
            try {
                var fileName = this.files[0].name;
                $(this).closest('label').siblings('span.file-name').text(fileName);
            }
            catch (err) {
                console.error(err);
            }
        });



        $('#main-div').on('change', '#quest_type', function (e) {
            try {
                var type = $(this).find('option:selected').attr('code');

                var inputType = '';
                switch (type) {
                    case "ONE_CHOISE":
                        inputType = "radio";
                        break;
                    case "MULTIPLE_CHOISE":
                        inputType = "checkbox";
                        break;

                }
                if (type == "OPEN_QUEST") {
                    $('.question_choises').addClass('hidden');
                }
                else {
                    $('.question_choises').removeClass('hidden');
                }

                if (type != "") {
                    $('input[name="rightChoise"]').each(function (i, v) {
                        if ($(this).is(':checked')) {
                            $(this).prop('checked', false);
                        }
                        $(this).attr('type', inputType);
                    });
                }


            }
            catch (err) {
                console.error(err);
            }
        });

        $('#main-div').on('click', '#question_add', function (e) {
            try {
                var allValid = true;
                var formData = new FormData();
                var question = {
                    subjectId: 0,
                    eduLevelId: 0,
                    questionLevelId: 0,
                    questionTypeId: 0,
                    topicId: 0,
                    langId: 0,
                    content: '',
                    variants: [],
                    token: Exam.token
                }
                if (Exam.Validation.validateRequiredFields('data-required')) {
                    question.subjectId = $('#quest_subject').val();
                    question.eduLevelId = $('#quest_edu_level').val();
                    question.questionLevelId = $('#quest_level').val();
                    question.questionTypeId = $('#quest_type').val();
                    question.topicId = $('#quest_topic').val();
                    question.langId = $('#quest_lang').val();
                    question.content = $('#quest_content').val();

                    var questionTypeCode = $('#quest_type').find('option:selected').attr('code');
                    if (questionTypeCode != undefined && questionTypeCode != "OPEN_QUEST") {
                        if (Exam.Validation.validateRequiredFields('variant-required')) {
                            var inputType = $(".answer:input").attr('type');
                            var checkedCount = $(".answer:input:checked").length;
                            if (inputType == "radio") {
                                if (checkedCount == 0) {
                                    $.alert({
                                        title: Exam.dictionary[Exam.lang]['warning'],
                                        content: Exam.dictionary[Exam.lang]['select_one'],
                                        theme: 'material'
                                    });
                                    allValid = false;
                                }
                            }
                            else if (inputType == "checkbox") {
                                if (checkedCount <= 1) {
                                    $.alert({
                                        title: Exam.dictionary[Exam.lang]['warning'],
                                        content: Exam.dictionary[Exam.lang]['select_two'],
                                        theme: 'material'
                                    });
                                    allValid = false;
                                }
                            }

                            var wrongFiles = ''
                            $('.variant-item').each(function (i, v) {
                                var variant = {
                                    id: (++i),
                                    content: $(this).find('textarea').val(),
                                    rightChoise: $(this).find('.answer').is(':checked') ? true : false
                                }
                                question.variants.push(variant);

                                
                                if ($(this).find('.variant_file')[0].files[0]) { 
                                    var file = $(this).find('.variant_file')[0].files[0];
                                    console.log(file);
                                    console.log('--');
                                    if (Exam.Validation.checkFile(file.type, fileTypes.IMAGE_CONTENT_TYPE)) {
                                        if (file.size > 5 * 1024 * 1024) {

                                            $.notify(file.name + Exam.dictionary[Exam.lang]['exceed_volume'], {
                                                type: 'warning'
                                            });
                                            allValid = false;
                                        }
                                        else {
                                            formData.append('file_' + i, file);
                                        }
                                    }
                                    else {
                                        wrongFiles += wrongFiles != '' ? ', ' + file.name : file.name;

                                    }

                                }
                            });

                            if (wrongFiles != '') {
                                $.notify(Exam.dictionary[Exam.lang]['wrong_format'] + wrongFiles, {
                                    type: 'warning'
                                });
                                allValid = false;
                            }
                            console.log(question.variants);

                        } else {
                            allValid = false;
                        }
                    }

                    formData.append('question', new Blob([JSON.stringify(question)], {
                        type: "application/json"

                    }));

                    if ($('#quest_file')[0].files[0]) {
                        var image = $('#quest_file')[0].files[0];
                        if (Exam.Validation.checkFile(image.type, fileTypes.IMAGE_CONTENT_TYPE)) {
                            formData.append('file', image);
                        }
                        else {
                            $.notify(Exam.dictionary[Exam.lang]['wrong_format'] + image.name, {
                                type: 'warning'
                            });

                            allValid = false;
                        }

                    }

                    if (allValid) {
                        Exam.Proxy.addQuestion(formData, function () {
                            var params = $('.question-search-form').serialize();
                            Exam.Proxy.loadQuestions('', params);
                        });
                    }


                }

            }
            catch (err) {
                console.error(err);
            }

        });

        $('body').on('click', '#exam_add', function(){
            var count = $('body').find('#exam_list tbody tr').length;
            var html = '<tr >' +
                            '<td>'+ ++count +'</td>' +
                            '<td>' + $('body').find('#exam_code').val() + '</td>' +
                            '<td>' + $('body').find('#exam_type option:selected').html() + '</td>' +
                            '<td>' + $('body').find('#exam_name').val() + '</td>' +
                            '<td>' + $('body').find('#exam_subject option:selected').html() + '</td>' +
                            '<td>' + $('body').find('#question_count').val() + '</td>' +
                            '<td>' + $('body').find('#question_duration').val() + '</td>' +
                        
                            '</tr>';
            
            $('body').find('#exam_list tbody').append(html);
            $('body').find('#exam_code, #exam_name, #question_count, #question_duration').val(' ')
            $('body').find('#exam_type, #exam_subject').find('option:first-child').prop('selected')
            $('body').find('.add-new').css('right', '-100%');                            
        })

    });
</script>
