<div class="" >
    <div class="panel-heading" style="    margin: 0 -15px;">

        <!--<a href="#" class="save-button"><img src="assets/img/save-icon.png" alt="Save" width="20" height="20">-->
        <div class="row">
            <div class="col-md-8">
                <!--<h3 class="m-t-6" data-i18n="" class="panel-title">İmtahan </h3>-->
            </div>
            <div class="col-md-2">
                <button id="exam_add" data-i18n="save" type="submit" class="btn btn-primary btn-block pincode-button-next">Yadda saxla</button>
            </div>
            <div class="col-md-2">
                <button id="back" data-i18n="back" type="submit" class="btn btn-primary btn-block pincode-button-back">Geri</button>
            </div>
        </div>

    </div>
    <div class="panel-body " style="margin: 0 -15px;">
        <div class="row exam">
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Universitet</label>
                        <select class="form-control" id="uni_name"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Kafedra</label>
                        <select class="form-control" id="department"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fakültə</label>
                        <select class="form-control" id="faculty"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Qrup</label>
                        <select class="form-control" id="group"></select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Təhsil səviyyəsi</label>
                        <select class="form-control" id="edu_level" disabled></select>
                    </div>
                </div>
                <div class="col-md-6">    
                    <div class="form-group">
                        <label>Tədris planı</label>
                        <select class="form-control" id="edu_plan" disabled></select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">    
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tədris ili</label>
                        <select class="form-control" id="edu_year" disabled></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label  >Semestr</label>
                         <select class="form-control" id="edu_year_part" disabled></select>
                    </div>
                </div>
                <div class="col-md-6">        
                    <div class="form-group">
                        <label data-i18n="" >Dil</label>
                        <select class="form-control" id="language" disabled></select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Kodu</label>
                        <input type="text" class="form-control" id="exam_code">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Adı</label>
                        <input type="text" class="form-control" id="exam_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Müddəti</label>
                        <input type="text" class="form-control" id="exam_duration">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>İmtahanın Növü</label>
                        <select class="form-control" id="exam_type"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Forması</label>
                         <select class="form-control" id="exam_form"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Bilet sayı</label>
                         <input class="form-control" id="exam_ticket_count">
                    </div>
                </div>
<!--                <div class="col-md-6">        
                    <div class="form-group">
                        <label data-i18n="" >Sual sayı</label>
                        <select class="form-control" id="quest_count">
                            <option>Seçin</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>-->
            </div>
<!--            <div class="col-md-12">
                <div class="panel-heading" style="padding: 0 0">
                    <div class="add-edition" style="right: 0px;">
                        <h3 class="panel-title">Sual əlavə et</h3>
                        <div id="add-edition-image"><img src="assets/img/AddNew.png" alt="" width="20" height="20"></div>
                                                            <div class="panel-body param-block" style="padding: 0">
                    <div class="blank-panel no_information"><h3 data-i18n="no_information">No available information</h3></div>
                </div>
                    </div>

                </div>

            </div>
            <div class="col-md-12">
                <div id="append_res_param" class="panel-body add-page" style="padding: 0"></div>
            </div>
            <div class="form-group col-md-12">
                    <div class="form-group">
                        <label>Qeyd</label>
                        <textarea rows="5" cols="90" class="form-control" id="exam_note"></textarea>
                    </div>
                </div>-->
        </div>
        <div class="modal  resource-edition-modal add-page" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content add-sual" col-md-12>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 data-i18n="resources_other_info" class="modal-title">Nəşri məlumatlar</h4>
            </div>

            <div class="modal-body col-md-12"  style="float: left;">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sualın Növü</label>
                                    <select class="form-control" id="quest_type"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sualın Tipi</label>
                                    <select class="form-control" id="quest_tipi"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Çətinlik dərəcəsi</label>
                                    <select class="form-control" id="quest_difficulty"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sual sayı</label>
                                    <input type="text" class="form-control" id="quest_count_in_modal">
                                </div>
                            </div>
            </div>
            <div class="modal-footer flex-img">
                <button data-i18n="ok"  data class="btn btn-primary confirm-res-param">OK</button>
                <button data-i18n="close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--        <div class="modal resource-edition-modal add-page" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 data-i18n="resources_other_info" class="modal-title">Sual əlavə edilməsi</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sualın Növü</label>
                                    <select class="form-control" id="quest_type"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sualın Tipi</label>
                                    <select class="form-control" id="quest_tipi"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Çətinlik dərəcəsi</label>
                                    <select class="form-control" id="quest_difficulty"></select>
                                </div>
                            </div>
                        </div>
                    </div>
<!--
                </div>
            </div>
        </div>-->
    </div>
</div>

<script type="text/javascript">
    $(function () {
        Exam.i18n(Exam.lang);
        $('.search-scroll').slimScroll();
        
            Exam.Proxy.loadEduType(function (data) {
                if (data) {
                    var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                    $.each(data, function (i, v) {
                        html += '<option value = "' + v.id + '">' + v.name + '</option>'
                    });
                    $('#edu_plan').html(html);
                }
            });
            
            Exam.Proxy.loadDictionariesByTypeId(Exam.Type.EDU_LEVEL, Exam.Parent.EDU_LEVEL, function (eduLevel) {
            if (eduLevel) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduLevel, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#edu_level').html(html);
                }
            });
            Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EXAM_TYPE, function (examType) {
            if (examType) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(examType, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#exam_type').html(html);
                }
            });
            Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EXAM_FORM_TYPE, function (examType) {
            if (examType) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(examType, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#exam_form').html(html);
                }
            });
            Exam.Proxy.loadDictionariesByTypeId(Exam.Type.EDU_SEMESTER, '0', function (eduSemestr) {
            if (eduSemestr) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduSemestr, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#edu_year_part').html(html);
                }
            });
            Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LANG, function (eduLang) {
            if (eduLang) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduLang, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#language').html(html);
                }
            });
            Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_LEVEL, function (questionLevel) {
            if (questionLevel) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionLevel, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_difficulty').html(html);
                }
            });
            Exam.Proxy.loadEduYear(function (eduYear) {
                
            if (eduYear) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                html += '<option value='+eduYear.data.id+'>' + eduYear.data.value[Exam.lang] + '</option>';
                
                $('#edu_year').html(html);
                }
            });
            Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TIPI, function (questionTipi) {
            if (questionTipi) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionTipi, function (i, v) {
                    html += '<option code="' + v.code + '" value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_tipi').html(html);
            }
        });
            Exam.Proxy.getStructureListByFilter(0, 0, function (data) {
                if (data && data.data) {
                    var html = '';
                    var departmentHtml = '';
                    var groupHtml = '';
                    var uni = data.data.universityList;
                    var uniCount = data.data.universityList.length;
                    var facultyCount = data.data.facultyList.length;

                    if (uniCount <= 1) {
                        $('#uni_name').attr('disabled', 'disabled')
                        $.each(uni, function (i, v) {

                            html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                        })
                        $('#uni_name').html(html)
                    } else {
                        html = '<option value = "0">Universitet</option>'
                        $.each(uni, function (i, v) {

                            html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                        })
                        $('#uni_name').html(html)
                    }
                    if (facultyCount <= 1) {
                        html = '';
                        $('#faculty').attr('disabled', 'disabled')
                        $('#faculty').html(html)
                    } else {
                        html = '<option value = "0">Fakültə</option>',
                        departmentHtml = '<option value ="0">Kafedra</option>'
                        groupHtml = '<option value ="0">Qrup</option>'
                        $('#faculty').html(html)
                        $('#group').html(groupHtml);
                        $('#department').html(departmentHtml);
                    }
                }
            });
            
            $('#uni_name').on('change', function () {
                var id = $(this).val();
                var text = $(this).find('option:selected').text();

                Exam.Proxy.getStructureListByFilter(id, '', function (data) {
                    if (data && data.data) {
                        var facultyHtml = '';
                        var departmentHtml = '';
                        var faculty = data.data.facultyList;
                        var department = data.data.departmentList;

                        facultyHtml = '<option value = "0">Fakültə</option>'
                        $.each(faculty, function (i, v) {
                            facultyHtml += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                        })
                        
                        $('#faculty').html(facultyHtml);

                        departmentHtml = '<option value ="0">Kafedra</option>'
                        $.each(department, function (i, v) {
                            departmentHtml += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
                        })
                        
                        $('#department').html(departmentHtml);
//
//                        if (id != 1000001 || id != 0) {
//                            $('.main-content-upd .student-search-form input[name="orgId"]').val(id);
//                            $('.main-content-upd .student-search-form input[name="uniOrg"]').val(id);
//                            $('.main-content-upd .student-search-form input[name="uniName"]').val(text);
//                        } else {
//                            $('.main-content-upd .student-search-form input[name="orgId"]').val('');
//                            $('.main-content-upd .student-search-form input[name="uniOrg"]').val('');
//                            $('.main-content-upd .student-search-form input[name="uniName"]').val('');
//                        }

                        $('.btn-load-more').removeAttr('data-page');
                        var queryparams = $('.main-content-upd .student-search-form').serialize();
//                        Exam.Proxy.loadStudents('', queryparams);

                    }
                })
            });
        
            Exam.Proxy.loadGroups(function (groups) {
                if (groups) {
                    var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                    $.each(groups.data, function (i, v) {
                        html += '<option value = "' + v.id + '">' + v.code + '</option>'
                    });
                    $('#group').html(html);
                }
            });
            $('#group').select2({
                placeholder: Exam.dictionary[Exam.lang]["subjects"],
                language: {
                    noResults: function () {
                        return Exam.dictionary[Exam.lang]["no_information"];
                    }
                }
            });  
        
       $('#group').on('change', function () {
            var groupId = $(this).val();
            Exam.Proxy.loadCoursesByGroupId(groupId, function (groups) {
                var data = groups.data
                if (groups) {
                    $('#language').val(data.eduLang.id);
                    $('#edu_plan').val(data.eduPlanId);
                    $('#edu_level').val(data.specialityEduLevelId);
                    $('#edu_year').find('option[value="' + data.eduYear.id + '"]').prop('selected', true);
                    $('#edu_year_part').val(data.eduPlanSemestrId);
                }
            });
        });
//        
//        $('#faculty').on('change', function () {
//            var facultyId = $(this).val();
//            Exam.Proxy.loadOrgTree(facultyId, function (groups) {
//                if (groups) {
//                    var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                    $.each(groups, function (i, v) {
//                        html += '<option value = "' + v.id + '">' + v.name[Exam.lang] + '</option>'
//                    });
//                    $('#group').html(html);
//                }
//            });
//        });
        
        Exam.Proxy.loadSubjects(function (subjects) {
            if (subjects) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(subjects, function (i, v) {
                    html += '<option value= "' + v.id + '">' + v.subject.value[Exam.lang] + '</option>'
                });
                $('#exam_subject').html(html);
            }
        });
        
        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_LEVEL, function (questionLevel) {
            if (questionLevel) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionLevel, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_level').html(html);
            }
        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.QUESTION_TYPE, function (questionType) {
            if (questionType) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(questionType, function (i, v) {
                    html += '<option code="' + v.code + '" value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_type').html(html);
            }
        });

        Exam.Proxy.loadDictionariesByParentCode(Exam.Codes.EDU_LANG, function (eduLang) {
            if (eduLang) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(eduLang, function (i, v) {
                    html += '<option value = "' + v.id + '">' + v.value[Exam.lang] + '</option>'
                });
                $('#quest_lang').html(html);
            }
        });

        Exam.Proxy.loadSubjects(function (subjects) {
            if (subjects) {
                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                $.each(subjects, function (i, v) {
                    html += '<option value= "' + v.id + '">' + v.subject.value[Exam.lang] + '</option>'
                });
                $('#quest_subject').html(html);
            }
        });

        $('#main-div').on('change', '#quest_subject', function (e) {
            try {
                var subjectId = $(this).val();
                Exam.Proxy.getTopics(subjectId, function (topics) {
                    if (topics) {
                        var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
                        $.each(topics, function (i, v) {
                            html += '<option value="' + v.id + '">' + v.value['az'] + '</option>';
                        });
                        $('#quest_topic').html(html);
                    }
                });
            }
            catch (err) {
                console.error(err);
            }
        });

        $('#main-div').on('change', '#quest_file, .variant_file', function (e) {
            try {
                var fileName = this.files[0].name;
                $(this).closest('label').siblings('span.file-name').text(fileName);
            }
            catch (err) {
                console.error(err);
            }
        });



        $('#main-div').on('change', '#quest_type', function (e) {
            try {
                var type = $(this).find('option:selected').attr('code');
                var inputType = '';
                switch (type) {
                    case "ONE_CHOISE":
                        inputType = "radio";
                        break;
                    case "MULTIPLE_CHOISE":
                        inputType = "checkbox";
                        break;
                }
                if (type == "OPEN_QUEST") {
                    $('.question_choises').addClass('hidden');
                }
                else {
                    $('.question_choises').removeClass('hidden');
                }
                if (type != "") {
                    $('input[name="rightChoise"]').each(function (i, v) {
                        if ($(this).is(':checked')) {
                            $(this).prop('checked', false);
                        }
                        $(this).attr('type', inputType);
                    });
                }
            }
            catch (err) {
                console.error(err);
            }
        });

        $('#main-div').on('click', '#question_add', function (e) {
            try {
                var allValid = true;
                var formData = new FormData();
                var question = {
                    subjectId: 0,
                    eduLevelId: 0,
                    questionLevelId: 0,
                    questionTypeId: 0,
                    topicId: 0,
                    langId: 0,
                    content: '',
                    variants: [],
                    token: Exam.token
                }
                if (Exam.Validation.validateRequiredFields('data-required')) {
                    question.subjectId = $('#quest_subject').val();
                    question.eduLevelId = $('#quest_edu_level').val();
                    question.questionLevelId = $('#quest_level').val();
                    question.questionTypeId = $('#quest_type').val();
                    question.topicId = $('#quest_topic').val();
                    question.langId = $('#quest_lang').val();
                    question.content = $('#quest_content').val();

                    var questionTypeCode = $('#quest_type').find('option:selected').attr('code');
                    if (questionTypeCode != undefined && questionTypeCode != "OPEN_QUEST") {
                        if (Exam.Validation.validateRequiredFields('variant-required')) {
                            var inputType = $(".answer:input").attr('type');
                            var checkedCount = $(".answer:input:checked").length;
                            if (inputType == "radio") {
                                if (checkedCount == 0) {
                                    $.alert({
                                        title: Exam.dictionary[Exam.lang]['warning'],
                                        content: Exam.dictionary[Exam.lang]['select_one'],
                                        theme: 'material'
                                    });
                                    allValid = false;
                                }
                            }
                            else if (inputType == "checkbox") {
                                if (checkedCount <= 1) {
                                    $.alert({
                                        title: Exam.dictionary[Exam.lang]['warning'],
                                        content: Exam.dictionary[Exam.lang]['select_two'],
                                        theme: 'material'
                                    });
                                    allValid = false;
                                }
                            }

                            var wrongFiles = ''
                            $('.variant-item').each(function (i, v) {
                                var variant = {
                                    id: (++i),
                                    content: $(this).find('textarea').val(),
                                    rightChoise: $(this).find('.answer').is(':checked') ? true : false
                                }
                                question.variants.push(variant);
                                
                                if ($(this).find('.variant_file')[0].files[0]) { 
                                    var file = $(this).find('.variant_file')[0].files[0];
                                    console.log(file);
                                    console.log('--');
                                    if (Exam.Validation.checkFile(file.type, fileTypes.IMAGE_CONTENT_TYPE)) {
                                        if (file.size > 5 * 1024 * 1024) {

                                            $.notify(file.name + Exam.dictionary[Exam.lang]['exceed_volume'], {
                                                type: 'warning'
                                            });
                                            allValid = false;
                                        }
                                        else {
                                            formData.append('file_' + i, file);
                                        }
                                    }
                                    else {
                                        wrongFiles += wrongFiles != '' ? ', ' + file.name : file.name;
                                    }
                                }
                            });

                            if (wrongFiles != '') {
                                $.notify(Exam.dictionary[Exam.lang]['wrong_format'] + wrongFiles, {
                                    type: 'warning'
                                });
                                allValid = false;
                            }
                        } else {
                            allValid = false;
                        }
                    }

                    formData.append('question', new Blob([JSON.stringify(question)], {
                        type: "application/json"
                    }));

                    if ($('#quest_file')[0].files[0]) {
                        var image = $('#quest_file')[0].files[0];
                        if (Exam.Validation.checkFile(image.type, fileTypes.IMAGE_CONTENT_TYPE)) {
                            formData.append('file', image);
                        }
                        else {
                            $.notify(Exam.dictionary[Exam.lang]['wrong_format'] + image.name, {
                                type: 'warning'
                            });
                            allValid = false;
                        }
                    }
                    if (allValid) {
                        Exam.Proxy.addQuestion(formData, function () {
                            var params = $('.question-search-form').serialize();
                            Exam.Proxy.loadQuestions('', params);
                        });
                    }
                }

            }
            catch (err) {
                console.error(err);
            }
        });

        $('body').on('click', '#exam_add', function(){
            var count = $('body').find('#exam_list tbody tr').length;
            var html = '<tr >' +
                            '<td>'+ ++count +'</td>' +
                            '<td>' + $('body').find('#exam_code').val() + '</td>' +
                            '<td>' + $('body').find('#exam_type option:selected').html() + '</td>' +
                            '<td>' + $('body').find('#exam_name').val() + '</td>' +
                            '<td>' + $('body').find('#exam_subject option:selected').html() + '</td>' +
                            '<td>' + $('body').find('#question_count').val() + '</td>' +
                            '<td>' + $('body').find('#question_duration').val() + '</td>' +
                        '</tr>';
            
            $('body').find('#exam_list tbody').append(html);
            $('body').find('#exam_code, #exam_name, #question_count, #question_duration').val(' ')
            $('body').find('#exam_type, #exam_subject').find('option:first-child').prop('selected')
            $('body').find('.add-new').css('right', '-100%');                            
        })

    });
</script>
