<div class="" >
    <div class="panel-heading" style="    margin: 0 -15px;">

        <!--<a href="#" class="save-button"><img src="assets/img/save-icon.png" alt="Save" width="20" height="20">-->
        <div class="row">
            <div class="col-md-8">
                <!--<h3 class="m-t-6" data-i18n="" class="panel-title">İmtahan </h3>-->
            </div>
            <div class="col-md-2">
                <button id="exam_edit" data-i18n="save" type="submit" class="btn btn-primary btn-block pincode-button-next">Yadda saxla</button>
            </div>
            <div class="col-md-2">
                <button id="back" data-i18n="back" type="submit" class="btn btn-primary btn-block pincode-button-back">Geri</button>
            </div>
        </div>

    </div>
    <form class="exam-edit-form">
    <div class="panel-body " style="margin: 0 -15px;">
        <div class="row exam">
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Qrup</label>
                        <select class="form-control" id="group" name="courseId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Başlama tarixi</label>
                        <input type="text" class="form-control datepicker" name="examStartDate" data-date-format="dd/mm/yyyy" id="exam_start_date">
                    </div>
                </div>
<!--                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Bitmə tarixi</label>
                        <input type="text" class="form-control datepicker" name="examFinishDate" data-date-format="dd/mm/yyyy" id="exam_finish_date">
                    </div>
                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Başlama vaxtı</label>
                        <input type="text" class="form-control timepicker" name="examStartTime" data-format="MM/dd/yyyy" id="exam_start_time">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >Bitmə vaxtı</label>
                        <input type="text" class="form-control timepicker" name="examFinishTime" data-format="MM/dd/yyyy" id="exam_finish_time">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label data-i18n="" >İmtahan müddəti(dəqiqə)</label>
                        <input type="text" class="form-control" id="exam_duration" name="examDuration">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        Exam.i18n(Exam.lang);
        $('.search-scroll').slimScroll();
        $('.datepicker').datepicker();
        $('.timepicker').datetimepicker({
//            format: 'hh:mm' //LT
            format: 'HH:mm'
        });
        
//        Exam.Proxy.loadGroups(function (groups) {
//            if (groups) {
//                var html = '<option value="">' + Exam.dictionary[Exam.lang]['select'] + '</option>';
//                $.each(groups.data, function (i, v) {
//                    html += '<option value = "' + v.id + '">' + v.code + '</option>'
//                });
//                $('#group').html(html);
//            }
//        });
        $('#group').select2({
////            placeholder: Exam.dictionary[Exam.lang]["subjects"],
            language: {
                noResults: function () {
                    return Exam.dictionary[Exam.lang]["no_information"];
                }
            }
        });  

    });
</script>
