<div style="display: none; padding-right: 17px;" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="exportModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-pdf col-md-4">
                        <a class="export" data-value="pdf" href="#"><img class="a-export" src="assets/img/pdf-icon.png" width="150" height="150" alt="pdf"></a>
                    </div>
                    <div class="modal-excel col-md-4">
                        <a class="export"  data-value="xls" href="#"><img class="a-export" src="assets/img/excel-icon.png" width="150" height="150" alt="xls"></a>
                    </div>
                    <div class="modal-html col-md-4">
                        <a class="export" data-value="html" href="#"><img class="a-export" src="assets/img/html-icon.png" width="150" height="150" alt="html"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="content-header">
    <div class="con-head-left">
        <span data-i18n="" placeholder="Suallar" class="hed-title">İmtahan</span>
    </div>
    <div class="con-head-right">
        <div class="prepend-icon">
            <input data-i18n="placeholder.search" id="question_search" type="search" placeholder="Search">
        </div>

        <div id="buttons_div" class="dropdown-func">
            <div class="btn btn-default reg dropdown-toggle cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Ümumi əməliyyatlar
            </div>
            <ul id="module_operations" class="dropdown-menu calibrated">
            </ul>
        </div>
    </div>
</div>

<form class="question-search-form">
    <input type="hidden" name="keyword">
    <input type="hidden" name="subjectId">
    <input type="hidden" name="eduLevelId">
    <input type="hidden" name="questionLevelId">
    <input type="hidden" name="questionTypeId">
</form>

<div class="filters-block module_1000011">

    <div class="btn-group">

        <select id="subjects">
            <option value="0" data-i18n="subject">Subject</option>
        </select>

    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-expanded="false" >
            <span data-i18n="question_complexity">Sualın çətinliyi</span> 
            <i class="fa fa-angle-down"></i>
        </button>
        <ul data-name="questionLevelId" id="question_level" class="dropdown-menu dropdown-filter">

        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span data-i18n="question_type" >Sualın növü</span> <i class="fa fa-angle-down"></i>
        </button>
        <ul data-name="questionTypeId" id="question_type" class="dropdown-menu dropdown-filter">

        </ul>
    </div>


    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span data-i18n="edu_level" >Təhsil səviyyəsi</span> <i class="fa fa-angle-down"></i>
        </button>
        <ul data-name="eduLevelId" id="edu_levels" class="dropdown-menu dropdown-filter">

        </ul>

    </div>


</div>



<div class="row">
    <div class="col-sm-12 data">
        <div  class="panel panel-white">

            <div class="table-responsive">

                <table id="exam_list" class="table table-celled table-hover">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Fənnin adı</th>
                            <th>Fənn qrupu</th>
                            <th>Tarix</th>
                            <th>Saat</th>
                            <th>Müddəti</th> 
                            <th></th> 
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>        
            <div class="space-for-footer">
                <div id="load_more_div" class="flex-input">
                    <button  data-i18n="load.more" data-table="questions" class="btn loading-margins btn-load-more">Load more</button>
                </div>
            </div>

        </div>
    </div>
<!--    <div class="col-sm-4 info te">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 data-i18n="info" class="panel-title">Info</h3>
                <div class="panel-close"><img src="assets/img/upd/close.svg" alt=""></div>
                <div class="type_2_btns"></div>
            </div>
            <div class="panel-body">
              
                <div class="col-xs-12 definition-list">
                    <dl id="question_content" class="dl-horizontal">     
                    </dl>
                </div>
            </div>
        </div>
    </div>-->
</div>

<div class="add-new">
   <div class="search-scroll"></div>
</div>





<script>
    $(function () {
        Exam.i18n(Exam.lang);

       

        $('#subjects').select2({
            placeholder: Exam.dictionary[Exam.lang]["subjects"],
            language: {
                noResults: function () {
                    return Exam.dictionary[Exam.lang]["no_information"];
                }
            }
        });
//
        Exam.Proxy.loadOperations(Exam.currModule, function (operations) {
            
            $('#buttons_div').find('ul').html(Exam.Service.parseOperations(operations, 1));
            Exam.Proxy.getExamList();
             
        });
//        Exam.Proxy.loadOperations(Exam.currModule, function (operations) {
//            $('#buttons_div').find('ul').html(Exam.Service.parseOperations(operations, 2));
//        });
//
//        $('#main-div .sub_modules_div').remove();
//        $('.module-list').find('.sub-module-con').remove();



       
//        $('#main-div').on('keypress', '#question_search', function (e) {
//            try {
//
//                if (e.keyCode == 13) {
//                    var keyword = $('#question_search').val();
//
//                    if (keyword.trim().length > 2) {
//                        $('.btn-load-more').removeAttr('data-page');
//                        $('.question-search-form input[name="keyword"]').val(keyword);
//                        var queryparams = $('.question-search-form').serialize();
//                        Exam.Proxy.loadQuestions('', queryparams);
//                    }
//                    else if (keyword.trim().length == 0) {
//                        $('.btn-load-more').removeAttr('data-page');
//                        $('.question-search-form input[name="keyword"]').val('');
//                        var params = $('.question-search-form').serialize();
//                        //Exam.Proxy.loadQuestions('', params);
//                    }
//                }
//
//            }
//            catch (err) {
//                console.error(err);
//            }
//        });

    });
</script>
